body {
  background: #0b0b0b;
  color: #fff;
  font-family: Arial;
  margin: 0;
}

header {
  background: #00ff66;
  color: #000;
  padding: 15px;
  text-align: center;
}

.painel {
  padding: 20px;
}

.pedido {
  background: #161616;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

button {
  margin: 5px 5px 0 0;
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.aceitar {
  background: #ffcc00;
}

.finalizar {
  background: #00ff66;
}
